In [ ]:
import pandas as pd
import numpy as np
import webbrowser

In [ ]:
webbrowser.open('https://www.google.com/',new=1)

False

In [ ]:
from IPython.display import YouTubeVideo

In [ ]:
YouTubeVideo('https://www.youtube.com/watch?v=9-T_zwmnZSc')

Create a **DataFrame**

A.Clipboard

In [ ]:
pd.read_clipboard()

PyperclipException: ignored

#**Create a series object from python list**

In [ ]:
ice_cream = ["Choclate","Vanilla","Black Forest","Strawberry","Rum Raisin" ]

pd.Series(ice_cream)

0        Choclate
1         Vanilla
2    Black Forest
3      Strawberry
4      Rum Raisin
dtype: object

In [ ]:
ice = pd.DataFrame(data=ice_cream,columns=['flavours'])
ice

        flavour
0      Choclate
1       Vanilla
2  Black Forest
3    Strawberry
4    Rum Raisin

In [ ]:
s = [1,2,3,4,5,6,67,78]
pd.Series(s)

0     1
1     2
2     3
3     4
4     5
5     6
6    67
7    78
dtype: int64

In [ ]:
seq = pd.DataFrame(data=s,columns=['Seq'])

In [ ]:
seq

   Seq
0    1
1    2
2    3
3    4
4    5
5    6
6   67
7   78

B.Through NUmpy Array

In [ ]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]])
arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:
arr_df = pd.DataFrame(data=arr,columns=['1-4','5-8','9-12','13-16'])
arr_df

   1-4  5-8  9-12  13-16
0    1    2     3      4
1    5    6     7      8
2    9   10    11     12
3   13   14    15     16

In [ ]:
arr = np.array([[1,2,3],[4,5,6]])
df = pd.DataFrame(arr, index=[1,2],columns=['c1','c2','c3'])
df

   c1  c2  c3
1   1   2   3
2   4   5   6

In [ ]:
arr1 = np.arange(9).reshape((3,3))

In [ ]:
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

D.From Dictionary

In [ ]:
dict_frame = pd.DataFrame({'a':[1,2,3,4],'b':[5,6,7,8],'c':[9,10,11,12],'d':[13,14,15,16]})
dict_frame

   a  b   c   d
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16

Extracting from DataFrame

In [ ]:
 nfl  =pd.read_csv('nfl.csv')

In [ ]:
nfl

   Unnamed: 0       Rank     Team        GP  ...     First   NFL  season  Division
0           1      Green      Bay   Packers  ...     0.569  1921     NFC     North
1           2     Dallas  Cowboys       930  ...  1960.000   NFC    East       NaN
2           3  Baltimore   Ravens       400  ...  1996.000   AFC   North       NaN
3           4    Chicago    Bears     1,418  ...  1920.000   NFC   North       NaN
4           5        New  England  Patriots  ...     0.562  1960     AFC      East

[5 rows x 12 columns]

In [ ]:
nfl.columns

Index(['Unnamed: 0', 'Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.',
       'First', 'NFL', 'season', 'Division'],
      dtype='object')

In [ ]:
nfl.Team

0        Bay
1    Cowboys
2     Ravens
3      Bears
4    England
Name: Team, dtype: object

In [ ]:
nfl.Tied

0    577
1      6
2      1
3     42
4    404
Name: Tied, dtype: int64

In [ ]:
nfl[['Division','Tied']]

  Division  Tied
0    North   577
1      NaN     6
2      NaN     1
3      NaN    42
4     East   404

In [ ]:
pd.DataFrame(nfl,columns=['Team','Won','Stadium'])

      Team    Won  Stadium
0      Bay  1,384      NaN
1  Cowboys    526      NaN
2   Ravens    225      NaN
3    Bears    777      NaN
4  England    932      NaN

In [ ]:
nfl[nfl['Won'] > 100]

TypeError: ignored

In [ ]:
nfl['Stadium'] = 'Allianz Stadium'
nfl

   Unnamed: 0       Rank     Team  ... season Division          Stadium
0           1      Green      Bay  ...    NFC    North  Allianz Stadium
1           2     Dallas  Cowboys  ...   East      NaN  Allianz Stadium
2           3  Baltimore   Ravens  ...  North      NaN  Allianz Stadium
3           4    Chicago    Bears  ...  North      NaN  Allianz Stadium
4           5        New  England  ...    AFC     East  Allianz Stadium

[5 rows x 13 columns]

In [ ]:
from numpy.random import randn

In [ ]:
nfl.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
new_index = [5,4,3,2,1]
nfl2 = nfl.reindex(new_index)
nfl2

   Unnamed: 0       Rank     Team  ... season Division          Stadium
5         NaN        NaN      NaN  ...    NaN      NaN              NaN
4         5.0        New  England  ...    AFC     East  Allianz Stadium
3         4.0    Chicago    Bears  ...  North      NaN  Allianz Stadium
2         3.0  Baltimore   Ravens  ...  North      NaN  Allianz Stadium
1         2.0     Dallas  Cowboys  ...   East      NaN  Allianz Stadium

[5 rows x 13 columns]

In [ ]:
nfl2.reindex_like(nfl)

   Unnamed: 0       Rank     Team  ... season Division          Stadium
0         NaN        NaN      NaN  ...    NaN      NaN              NaN
1         2.0     Dallas  Cowboys  ...   East      NaN  Allianz Stadium
2         3.0  Baltimore   Ravens  ...  North      NaN  Allianz Stadium
3         4.0    Chicago    Bears  ...  North      NaN  Allianz Stadium
4         5.0        New  England  ...    AFC     East  Allianz Stadium

[5 rows x 13 columns]

In [ ]:
df1 = pd.DataFrame(np.arange(16).reshape((4,4)),index=['SF','NY','NJ','Texas'],columns=['pop','size','year','decade'])

In [ ]:
df1

       pop  size  year  decade
SF       0     1     2       3
NY       4     5     6       7
NJ       8     9    10      11
Texas   12    13    14      15

In [ ]:
df1.drop('Texas')

    pop  size  year  decade
SF    0     1     2       3
NY    4     5     6       7
NJ    8     9    10      11

In [ ]:
df1.drop('decade',axis=1)

       pop  size  year
SF       0     1     2
NY       4     5     6
NJ       8     9    10
Texas   12    13    14