<a href="https://colab.research.google.com/github/Sinudeshmukh/Basic-Python/blob/main/PythonAssgn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

Sample data : 3, 5, 7, 23

Output :
List : ['3', ' 5', ' 7', ' 23']

Tuple : ('3', ' 5', ' 7', ' 23')

In [ ]:
Sampledata = 3, 5, 7, 23

In [ ]:
lst = list(Sampledata)
print('List:{}'.format(lst))

List:[3, 5, 7, 23]

In [ ]:
print('Tuple:{}'.format(Sampledata))

Tuple:(3, 5, 7, 23)

##2. Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[::len(color_list)-1])

['Red', 'Black']

##3. Write a Python program to print the even numbers from a given list.

Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]

Expected Result : [2, 4, 6, 8]

In [ ]:
s = [1,2,3,4,5,6,7,8,9]
for num in s:
  if num % 2==0:
    print(num)

2
4
6
8

#Modules

##1. Write a Python program to calculate number of days between two dates. Hint: use Datetime package/module.

Sample dates : (2014, 7, 2), (2014, 7, 11)

Expected output : 9 days

In [ ]:
import datetime

In [ ]:
datetime.datetime(2014,7,11)-datetime.datetime(2014,7,2)

datetime.timedelta(days=9)

#Functions

##Write a Python program to get the volume of a sphere with radius 6.

In [ ]:
#Volume of Sphere = 4/3 pi r^3

In [ ]:
pi = 3.1415
r=int(input("Enter Radius of Sphere:"))

Enter Radius of Sphere:6

In [ ]:
v = 4/3*pi*r
v

25.131999999999998

##2. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum hint: write User defined functions

In [ ]:
def sumx3(a=1,b=1,c=1):
  if a==b==c:
    print((a+b+c)*3)

In [ ]:
sumx3(4,4,4)

36

In [ ]:
sumx3()

9

##3. Write a Python program to count the number 4 in a given list.

List = [1,4,6,8,4,9,4]

In [ ]:
List = [1,4,6,8,4,9,4]

In [ ]:
List.count(4)

3

##4. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Go to the editorSample numbers list :

399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,

815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,

958,743, 527]

In [ ]:
nums = [399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527]

In [ ]:
for item in nums[0:6]:
  if item % 2==0:
    print(item)

162
758
918

##5. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [ ]:
rng = range(1500,2701)

In [ ]:
for item in rng:
  if item % 7==0 and item % 5==0:
    print(item)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

##6. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

Note : Use 'continue' statement.

Expected Output : 0 1 2 4 5

In [ ]:
for item in range(0,7):
  if item % 3==0:
    continue
  print(item)

1
2
4
5

##7. Write a Python program to get the Fibonacci series between 0 to 50.

Note : The Fibonacci Sequence is the series of numbers :

0, 1, 1, 2, 3, 5, 8, 13, 21, ....

Every next number is found by adding up the two numbers before it.

Expected Output : 1 1 2 3 5 8 13 21 34

In [ ]:
def Fibonacci(n):
  if n==0 or n==1:
    return n
  else:
    return Fibonacci(n-1) + Fibonacci(n-2)

In [ ]:
Fibonacci(5)

5

In [ ]:
lookup = {}

def fibo(n):
  if n==0 or n==1:
    lookup[n] = n
  
  if n not in lookup:
    lookup[n] = fibo(n-1) + fibo(n-2)

  return lookup[n]

n = int(input('Enter a number: '))

fibo(n)

for item in range(n+1):
  print(fibo(item),sep=',')

Enter a number: 50
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025

##9. Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,2,3,3,3,3,4,5]

Unique List : [1, 2, 3, 4, 5]

In [ ]:
Sample_List=[1,2,3,3,3,3,4,5]

In [ ]:
Unique_list = set(Sample_List)

In [ ]:
print(Unique_list)

{1, 2, 3, 4, 5}