<a href="https://colab.research.google.com/github/Sinudeshmukh/Basic-Python/blob/main/RegularExpressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pickle

In [ ]:
teams = {
    'North': ('Punjab','Delhi','Mumbai','Gujrat'),
    'South': ('Banglore','CSK','Hyd','KKR')
}

In [ ]:
fh = open('Teams','wb') #write binary

pickle.dump(teams,fh)

fh.close()

In [ ]:
fh = open('Teams','rb') #read binary

contents = pickle.load(fh)

fh.close()

In [ ]:
print('contents', contents)
print('type of content', type(contents))

contents {'North': ('Punjab', 'Delhi', 'Mumbai', 'Gujrat'), 'South': ('Banglore', 'CSK', 'Hyd', 'KKR')}
type of content <class 'dict'>

In [ ]:
import re

In [ ]:
s = 'welcome to world    of   regex   programming'

In [ ]:
val = re.split(r'\s', s)
print(val)

['welcome', 'to', 'world', '', '', '', 'of', '', '', 'regex', '', '', 'programming']

In [ ]:
#split using one or more spaces
val = re.split(r'\s+', s)
val

['welcome', 'to', 'world', 'of', 'regex', 'programming']

In [ ]:
#split using one or more spaces and specify what is omitted
val = re.split(r'(\s+)', s)
val

['welcome',
 ' ',
 'to',
 ' ',
 'world',
 '    ',
 'of',
 '   ',
 'regex',
 '   ',
 'programming']

In [ ]:
#split using s
val = re.split(r's+', s)
val

['welcome to world    of   regex   programming']

In [ ]:
r ='welcome to world of regex programming'

In [ ]:
vals = re.split(r'[a-e]', r)
vals

['w', 'l', 'om', ' to worl', ' of r', 'g', 'x progr', 'mming']

In [ ]:
vals = re.split(r'([a-e])', r)
vals

['w',
 'e',
 'l',
 'c',
 'om',
 'e',
 ' to worl',
 'd',
 ' of r',
 'e',
 'g',
 'e',
 'x progr',
 'a',
 'mming']

In [ ]:
vals = re.split(r'[a-e][l-n]', r)
vals

['w', 'come to world of regex progr', 'ming']

In [ ]:
vals = re.split(r'([a-e][l-n])', r)
vals

['w', 'el', 'come to world of regex progr', 'am', 'ming']

In [ ]:
vals = re.split(r'[a-e]|[l-n]', r)
vals

['w',
 '',
 '',
 'o',
 '',
 ' to wor',
 '',
 ' of r',
 'g',
 'x progr',
 '',
 '',
 'i',
 'g']

In [ ]:
address = "Hi 11    89 Main, 4th Cross, 123 Road, Marathalli, 5678 Bangalore, 560023 67893"

In [ ]:
fndall = re.findall(r'\d',address)
fndall 
#find all single digit numbers from file

['1',
 '1',
 '8',
 '9',
 '4',
 '1',
 '2',
 '3',
 '5',
 '6',
 '7',
 '8',
 '5',
 '6',
 '0',
 '0',
 '2',
 '3',
 '6',
 '7',
 '8',
 '9',
 '3']

In [ ]:
fndall = re.findall(r'\d+',address)
fndall 
#find all mult digit numbers from file

['11', '89', '4', '123', '5678', '560023', '67893']

In [ ]:
fndall = re.findall(r'\d{6}',address)
fndall 
#find all numbers of six digit from file

['560023']

In [ ]:
fndall = re.findall(r'\d{2}',address)
fndall 
#find all numbers of two digit from file

['11', '89', '12', '56', '78', '56', '00', '23', '67', '89']

In [ ]:
fndall = re.findall(r'\d{1,6}',address)
fndall 
#find all numbers of 1-6 digit from file

['11', '89', '4', '123', '5678', '560023', '67893']

In [ ]:
fndall = re.findall(r'\s(\d{2})\s',address)
fndall 
#find all numbers of 1-6 digit from file

['11', '89']

In [ ]:
s = '''
<html>
<head>
<title>Current IP Address Allocations
</title>
</head>
<body>
IP Address are 172.45.78.109
LoopBack Address: 127.0.0.1
Computer 1: 10.67.89.101
Computer 2: 11.67.98.102
Computer 2: 12.68.98.102
</body>
</html>
'''

In [ ]:
ip = re.findall(r"\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}",s)
ip

['172.45.78.109', '127.0.0.1', '10.67.89.101', '11.67.98.102', '12.68.98.102']

In [ ]:
ip = re.findall(r"10\.\d{1,3}\.\d{1,3}\.\d{1,3}",s)
ip

['10.67.89.101']

In [ ]:
ip = re.findall(r"1[0-2]\.\d{1,3}\.\d{1,3}\.\d{1,3}",s)
ip

['10.67.89.101', '11.67.98.102', '12.68.98.102']

In [ ]:
empDetails = "Hi I have a credit card with number 3775 123456 78910 and " \
             "other card is" \
             " 3545 456789 12345"

#http://www.getcreditcardnumbers.com
# AMEX Card
# Always start with 3
# Second digit is either 4 or 7
# <4 Digit> <6 Digit> <5 Digit>

In [ ]:
import re

result = re.findall(r"3[4|7]\d{2}\s\d{6}\s\d{5}",empDetails)
result

['3775 123456 78910']

In [ ]:
sampleString = '''
Rohit made 122 runs, Virat made 96 runs, and
Dhawan made 46 runs and we won the match.
'''

# {"Rohit": 122, "Virat": 96, "Dhawan": 46}

In [ ]:
players = re.findall(r"[A-Z][a-z]+",sampleString)
runs = re.findall(r"\d{2,3}",sampleString)
players,runs

(['Rohit', 'Virat', 'Dhawan'], ['122', '96', '46'])

In [ ]:
score = dict(zip(players,runs))

In [ ]:
score

{'Dhawan': '46', 'Rohit': '122', 'Virat': '96'}

In [ ]:
results = {}
for item in range(len(players)):
  results[players[item]] = runs[item]

print(results)

{'Rohit': '122', 'Virat': '96', 'Dhawan': '46'}

In [ ]:
scores =  {players[item]: runs[item]  for item in range(len(players))}
scores

{'Dhawan': '46', 'Rohit': '122', 'Virat': '96'}

In [ ]:
str1 = "These are the match dates June 24, August 9, Dec 12"
#"Find all matches in the format Month day"

In [ ]:
res = re.findall(r"[A-Z][a-z]+\s\d{1,2}",str1)
res

['June 24', 'August 9', 'Dec 12']

In [ ]:
#only month
res = re.findall(r"([A-Z][a-z]+)\s\d{1,2}",str1)
res

['June', 'August', 'Dec']

In [ ]:
#only dates
res = re.findall(r"[A-Z][a-z]+(\s\d{1,2})",str1)
res

[' 24', ' 9', ' 12']

In [ ]:
#both in lst of tuples
res = re.findall(r"([A-Z][a-z]+)\s(\d{1,2})",str1)
res

[('June', '24'), ('August', '9'), ('Dec', '12')]

In [ ]:
#finditer
res = re.finditer(r"[A-Z][a-z]+\s\d{1,2}",str1)
res

In [ ]:
for item in res:
  print(str1[item.start():item.end()])

June 24
August 9
Dec 12

In [ ]:
res = re.findall(r"([A-Z][a-z]+)\s(\d{1,2})",str1)
res

[('June', '24'), ('August', '9'), ('Dec', '12')]

In [ ]:
result = re.finditer(r"([A-Z][a-z]+)\s(\d{1,2})", str1)
print(result)

<callable_iterator object at 0x7f3160db2710>

In [ ]:
for item in result:
      print("Match found at group 0: {}".format(item.group(0)))

Match found at group 0: June 24
Match found at group 0: August 9
Match found at group 0: Dec 12

In [1]:
import re

s = "A1bc welcome 2Check patT3ern ano3ter check3aldTe 22Check B5 8C "

In [2]:
lstWords = s.split()
print(lstWords)

for item in lstWords:
    lstPatMatched = re.search(r"(.*[A-Z].*\d.*)|(.*\d.*[A-Z].*)", item)

    if lstPatMatched:
        print("lstMatched", lstPatMatched)
        print(lstPatMatched.group(0))

['A1bc', 'welcome', '2Check', 'patT3ern', 'ano3ter', 'check3aldTe', '22Check', 'B5', '8C']
lstMatched <re.Match object; span=(0, 4), match='A1bc'>
A1bc
lstMatched <re.Match object; span=(0, 6), match='2Check'>
2Check
lstMatched <re.Match object; span=(0, 8), match='patT3ern'>
patT3ern
lstMatched <re.Match object; span=(0, 11), match='check3aldTe'>
check3aldTe
lstMatched <re.Match object; span=(0, 7), match='22Check'>
22Check
lstMatched <re.Match object; span=(0, 2), match='B5'>
B5
lstMatched <re.Match object; span=(0, 2), match='8C'>
8C